header {
  background-image: url(https://yaseen-saad.github.io/EcoEnergy/images/HomeDesktopheader.jpg);
  height: calc(100vh - 100px);
  max-height: 1200px;
}
header p span {
  font-size: 4rem;
  font-weight: 900;
  font-family: Oleo;
}
header p {
  text-align: center;
}
header p span:first-child {
  color: rgb(0, 115, 96);
}
header p span:last-child {
  color: #fff;
  display: block;
}
main section:nth-of-type(1):not(.foot):not(.row) {
  display: flex;
  margin: var(--sectionsGap) 0;
  flex-direction: column;
}
main section:nth-of-type(1) h2 {
  color: rgb(0, 115, 21);
  text-align: center;
  font-size: 4rem;
}
main section:nth-of-type(1) > p,
main section:nth-of-type(2) > p {
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.8;
}
.card-3 {
  display: grid;
  gap: var(--cardsGap);
  grid-template-columns: repeat(3, 1fr);
}
main section:nth-of-type(1).card img {
  max-height: 200px;
}
.card {
  border: none;
}
.card > p {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 30px;
}
hr {
  margin: 0;
}
main section:nth-of-type(2):not(.foot):not(.foott),
main section:nth-of-type(3) {
  padding-top: var(--sectionsGap);
  padding-bottom: var(--sectionsGap);
  background-color: var(--mainBackGround);
}
main section:nth-of-type(2) > h2,
main section:nth-of-type(3) > h2,
main section:nth-of-type(4) > h2 {
  font-size: 3rem;
  text-align: center;
  color: var(--mainColor);
}
main section:nth-of-type(2) .card-4,
main section:nth-of-type(3) .card-4,
main section:nth-of-type(4) .card-4 {
  display: grid;
  gap: calc(var(--cardsGap) + 10px) calc(var(--cardsGap) + 5px);
  grid-template-columns: repeat(2, 1fr);
}
main section:nth-of-type(2) .card-4 .card {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  align-items: center;
  justify-content: space-evenly;
}
main section:nth-of-type(2) .card-4 img {
  width: 100px;
  margin-bottom: 30px;
}
main section:nth-of-type(2) .card-4 .card > h3,
main section:nth-of-type(3) .card-4 .card > h3 {
  font-weight: 900;
  font-size: 2rem;
  margin: 10px 0 -20px;
}
main section:nth-of-type(2) .card-4 .card > p,
main section:nth-of-type(3) .card-4 .card > p {
  font-size: 1.4rem;
  opacity: 0.8;
}
main section:nth-of-type(3) .card-4 .card p {
  text-align: start;
}
main section:nth-of-type(3) .card-4 .card {
  background-color: inherit;
}
main section:nth-of-type(3) .card-4 .card {
  min-height: 170px;
}
main section:nth-of-type(3) > p,
main section:nth-of-type(4) > p,
main section:nth-of-type(2) > p {
  margin: 30px 0;
  font-size: 1.5rem;
  text-align: center;
}
main section:nth-of-type(4) {
  margin-bottom: 50px;
}
.notHome {
  display: none;
}

@media (min-width: 1440px) {
  main section:nth-of-type(2) .card-4,
  main section:nth-of-type(3) .card-4,
  main section:nth-of-type(4) .card-4,
  .card-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 948px) {
  header p span,
  main section:nth-of-type(1) h2,
  main section:nth-of-type(2) h2,
  main section:nth-of-type(3) h2,
  main section:nth-of-type(4) h2 {
    font-size: 2rem;
  }
  main section:nth-of-type(1) > p,
  main section:nth-of-type(2) > p,
  main section:nth-of-type(3) > p,
  main section:nth-of-type(4) > p,
  main section:nth-of-type(2) .card-4 .card > p,
  main section:nth-of-type(3) .card-4 .card > p {
    font-size: 0.9rem;
  }
  main section:nth-of-type(1) h2 {
    font-size: 2rem;
  }
  main section:nth-of-type(2) .card-4,
  main section:nth-of-type(3) .card-4,
  main section:nth-of-type(4) .card-4,
  .card-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  main section:nth-of-type(2) .card-4 .card > h3,
  main section:nth-of-type(3) .card-4 .card > h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 524px) {
  main section:nth-of-type(2) .card-4,
  main section:nth-of-type(3) .card-4,
  main section:nth-of-type(4) .card-4,
  .card-3 {
    grid-template-columns: 1fr;
  }

}
